<div class="back" style="display: flex; flex-direction: column; ">
    
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-logo" style="text-align: center;">
                  <a href="https://wa.me/+918999479945" target="_blank" class="whatsapp-button">
                      <img src="assets/whatsapp.png" alt="WhatsApp Icon" width="75">
                  </a>
                    <img routerLink="/Homepage" src="assets/tirupati.png" alt="Logo" width="150">
                  <a href="https://maps.app.goo.gl/PHiLQ2h7QuvXCQas8" target="_blank" class="facebook-button">
                      <img src="assets/Map.png" alt="Google Map Icon" width="100px">
                  </a>
  
                </div>
                
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 Tirupati Mobiles. All rights reserved.</p>
            </div>
        </div>
        <div class="attribute">
            Created by
            <a href="#">
                Prasad Kadam
            </a>
        </div>
    </footer>
  
</div>
  